.main-bg {
  display: flex;
  margin-top: 0;
  justify-content: center;
}

.container {
  position: absolute;
  top: 109px;
  width: 690px;
  height: 390px;
  border-radius: 1%;
  background: #152335;
  color: #AFB0B4;
  fill: #AFB0B4;
  box-shadow: 1px 1px 20px 1px #152335
}

.container__img {
  position: absolute;
  top: 123px;
  left: 36px;
}

.logo__img {
  position: absolute;
  top: 23px;
  left: 20px;
}

.cart-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
}

@font-face {
  font-family: "MuseoSansRounded";
  src: url(fonts/MuseoSansRounded-100.ttf);
}

.tittle {
  font-family: museo-sans-rounded, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  color: #AFB0B4;
  line-height: 1.083;
  position: absolute;
  left: 443px;
  top: 58px;
  width: 163px;
}

p {
  font-family: museo-sans-rounded, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
  color: #AFB0B4;
  line-height: 1.083;
  position: absolute;
  left: 443px;
  top: 121px;
  width: 186px;
  margin-bottom: 0px;
}

form {
  position: absolute;
  top: 200px;
  right: 66px;
}

.size, .city {
  padding-block: 5px;
  background-color: transparent;
  color: #AFB0B4;
}

.size:hover {
  background-color: transparent;
  color: #2A3544;
}

.city:hover {
  background-color: transparent;
  color: #2A3544;
}

.select:hover {
  background-color: transparent;
  color: #2A3544;
}

.stars {
  position: absolute;
  top: 185px;
  right: 125px;
  margin-top: -15px;
  margin-right: 110px;
}

.star {
  max-width: 5px;
  margin-top: 0px;
}

.star01 {
  fill: yellow;
}

ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  gap: 3px;
}

fieldset {
  border: none;
  color: #AFB0B4;
}

.submit {
  background-color: #2A3544;
  color: #AFB0B4;
  width: 170px;
  height: 40px;
  cursor: pointer;
  border: 1px solid;
}

.submit:hover {
  background-color: #AFB0B4;
  color: #2A3544;
}

.submit:active {
  margin-top: 1px;
  margin-bottom: -1px;
  zoom: 1;
  transition: 0.3s;
}

.radio-buttons {
  display: inline-flex;
  position: absolute;
  top: 355px;
  left: 170px;
}
